@import "../../styles/variables.scss";

.contact_part {
  z-index: -100;
  width: 100%;
  height: max(500px, 100vh);

  display: grid;
  place-items: center;

  background-image: $radial_gradient_top;

  .form {
    z-index: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr 0.5fr 1fr;
    place-items: center;
  }

  h1 {
    text-align: center;
    width: max-content;
    font-size: 2.2rem;
    place-self: center;
  }

  .email_input_block {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 50px 1fr;
    place-items: center;

    input {
      align-self: flex-start;
      border: none;
      border-radius: 20px;
      width: 250px;
      height: 50px;
      padding: 0 15px 0 15px;
    }
  }

  .message_input_block {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 50px 1fr;
    place-items: center;

    textarea {
      align-self: flex-start;
      border: none;
      border-radius: 20px;
      width: 300px;
      height: 150px;
      padding: 10px 15px 0 15px;
      text-align: start;
      resize: none;
    }
  }

  button {
    font-size: 1rem;

    width: 100px;
    height: 50px;
    background-color: $secondary_color;
    color: $primary_color;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .icons_block {
    align-self: center;
    width: 100px;
    height: fit-content;
    display: flex;
    justify-content: space-between;

    .image {
      position: relative;
      width: 40px;
      height: auto;
    }
  }
}
